body{
    font-family: sylfaen;
    font-size: 14px;
}

hr{
    border-color: crimson;
}

#nav{
    font-size: 16px;
}

.username{
    font-size: 25px;
    color:crimson;
}

#posts{
    font-weight: lighter;
}

.hi{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

#signin{
    color:crimson;
    font-weight: 500;
}

#postHeader{
    font-size: 18px;
}

#errorito{
    font-weight: bold;;
    color: darkred;
}

#puf{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
}